[submodule "external/ZDS_Shared"]
	path = external/ZDS_Shared
	url = git@github.com:carlbrown/ZDS_Shared.git
[submodule "external/AQGridView"]
	path = external/AQGridView
	url = git@github.com:carlbrown/AQGridView.git
[submodule "external/JSONKit"]
	path = external/JSONKit
	url = git://github.com/johnezang/JSONKit.git
[submodule "external/RegexOnNSString"]
	path = external/RegexOnNSString
	url = git@github.com:carlbrown/RegexOnNSString.git
